# =======================================
# C / C++ compiled files
# =======================================
*.o
*.out
*.obj
*.exe
*.a
*.so
*.dll
*.dylib

# Ignore output folders
output/
bin/
build/
dist/

# =======================================
# Java compiled files
# =======================================
*.class
*.jar
*.war
*.ear

# =======================================
# Python cache files
# =======================================
__pycache__/
*.pyc
*.pyo
*.pyd

# =======================================
# macOS system files
# =======================================
.DS_Store
.AppleDouble
.LSOverride

# =======================================
# VS Code settings
# =======================================
.vscode/

# =======================================
# Logs
# =======================================
*.log
